@import '../../shared/colors.scss';

.vote {
	font-weight: 800;
	font-size: 17px;
	color: $red;
}

.container {
	grid-column: span 2;
	// display: grid;
	// grid-template-columns: repeat(3, 1fr);
	display: flex;
}

button:disabled {
	background-color: $light-grey;
	color: $white;
}

button:hover:disabled {
	transition: none;
	background-color: $light-grey;
}
