@import '../../shared/colors.scss';
@import '../../shared/mixins.scss';

.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 50px auto 50px;
	min-height: 100vh;
}

main {
	grid-column: span 10;
}

header {
	grid-column: span 2;
	color: $white;
	background-color: $red;
}

.logoType {
	font-size: 1.1em;
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

footer {
	grid-column: span 12;
	background-color: $red;
	color: $white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.searchContainer {
	overflow: hidden;
}

.searchInput {
	float: right;
}
