@import '../../shared/colors.scss';
@import '../../shared/mixins.scss';

nav {
	grid-column: span 10;
}

.navigation {
	display: flex;
	align-items: center;
	padding: 0 10px;
	box-shadow: 0px 0px 10px 0px rgba(110, 123, 140, 0.3);

	ul {
		list-style: none;
		text-align: center;
		padding: 0;
		margin: 0;
		display: flex;
	}

	.searchInput {
		margin-left: auto;
	}

	li {
		font-size: 1.2em;
		text-transform: uppercase;
		margin: 0 10px;
	}

	a {
		text-decoration: none;
		color: $dark;
		display: block;
		transition: 0.3s background-color;

		&:hover {
			color: lighten($dark, 10%);
		}

		&.active {
			color: $red;
		}
	}
}

.hideForm {
	@include transition(background, 400ms);
}

.search {
	background-color: $red !important;
}

@media screen and (min-width: 500px) {
	.navigation li {
		border-bottom: none;
		// line-height: 50px;
		display: inline-block;
	}
}

.addNoteText {
	font-size: 10px;
	text-transform: none;
	display: block;
	line-height: 11px;
}

.addNoteButton {
	display: block;
	line-height: 12px;
}
