@import '../../shared/colors.scss';
@import '../../shared/mixins.scss';

.loadingContainer {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
}

.circle {
	box-sizing: border-box;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	border: 10px solid $light-grey;
	border-top-color: $blue;
	animation: spin 1s infinite linear;
}
