@import '../../shared/colors.scss';
@import '../../shared/mixins.scss';

body {
	color: darken($white, 25%);
}

/* STRUCTURE */
.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-height: 100%;
	padding: 20px;
}

#formContent {
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background: linear-gradient($dark, darken($dark, 7%));
	padding: 30px;
	width: 90%;
	max-width: 450px;
	position: relative;
	padding: 0px;
	-webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
	text-align: center;
	margin: 30px auto;
}

#footer {
	background-color: $dark;
	border-top: 1px solid $white;
	padding: 25px;
	text-align: center;
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
	a {
		color: $white;
	}
}

/* TABS */
.tabs {
	a {
		text-align: center;
		font-size: 1.3em;
		font-weight: 300;
		display: inline-block;
		margin: 40px 8px 10px 8px;
		color: darken($white, 25%);
		cursor: pointer;
		&:hover {
			color: $blue;
		}
		&.active {
			color: $white;
			border-bottom: 1px solid $blue;
		}
	}
}

/* FORM TYPOGRAPHY*/
.inputField {
	width: 85%;
}

input.google:hover {
	background-color: darken($red, 15%);
}

input.google {
	background-color: $red;
}