@import '../../shared/colors.scss';
@import '../../shared/mixins.scss';

.card {
	margin: 10px;
	padding: 10px 15px;
	background-color: $white;
	box-shadow: 0px 0px 10px 0px rgba(110, 123, 140, 0.3);

	& .delete {
		background-color: $red;
	}

	& .navContainer {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		margin-bottom: 10px;
	}

	& .noteTitle {
		margin-right: auto;
		& h3 {
			margin: 0;
		}
	}

	& h3 {
		font-size: 18px;
	}

	& button {
		margin: 0 5px;
		padding: 5px 15px;
		@include transition(background, 400ms);
	}

	& a {
		color: $blue;
		&:hover {
			color: $dark;
		}
	}

	& pre {
		margin: 0;
	}

	& .red {
		background-color: $red;
	}

	& .categories {
		margin-top: 8px;
	}

	& .category:not(:last-child):after,
	.tag:not(:last-child):after {
		content: ' | ';
	}
}
